@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #3B4043;
}

strong {
  font-weight: bold;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #fff;
  font-weight: bold;
  position: fixed;
}

.header > .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header > .header-container > .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header > .header-container > .header-logo > .logo-img {
  width: 50px;
  height: 50px;
}

.header > .header-container > .header-logo > .logo-txt {
  font-size: 36px;
}

.header > .header-container > .header-nav > .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header > .header-container > .header-nav > .nav-ul > .nav-item {
  margin-left: 40px;
  font-size: 24px;
  opacity: 0.8;
}

.header > .header-container > .header-nav > .nav-ul > .nav-item > .contact {
  display: block;
  padding: 12px 28px;
  background-color: #626262;
  border-radius: 8px;
  -webkit-box-shadow: inset 6px 6px 6px #00000029;
          box-shadow: inset 6px 6px 6px #00000029;
}

.header > .header-container > .header-nav > .nav-ul > .nav-item:hover {
  opacity: 1;
}
